<div class="content-wrap">
    <div class="header d-flex flex-justify-between p-2 hide-lg hide-xl" aria-label="top navigation">
        <button id="toggle" aria-label="Toggle menu" class="btn-octicon p-2 m-0 text-white" type="button">
            <i class="fa fa-bars"></i>
        </button>
        <div class="title flex-1 d-flex flex-justify-center">
            <a class="h4 no-underline py-1 px-2 rounded-1" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
    </div>
    <div class="content p-3 p-sm-5">
        {% include templates/breadcrumbs.liquid %}
        <hr>
        {%- include common/google_adsense_unit_top.liquid -%}
        <div role="main" itemscope="itemscope" itemtype="https://schema.org/Article">
            <div class="markdown-body" itemprop="articleBody">
                {{ content }}
                <hr style="border-style: none !important;border-top-width: 2px !important;border-top-style: dotted !important;">
                <div class="toasts danger mb-4">
                    <div class="title px-2 py-1">
                        <i class="fa fa-info-circle"></i>
                        {{ __.danger | default: "文章信息" }}
                    </div>
                    <div class="content px-2 py-3">
                        <ul>
                            <li>本文作者：<a href="{{ site.url }}" target="_blank">{{ site.author }}</a></li>
                            <li>本文链接：<a href="{{ site.url }}{{ page.url }}" target="_blank">{{ site.url | url_decode }}{{ page.url | url_decode }}</a></li>
                            <li>版权声明：本文为本人原创文章，遵循<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank">CC 4.0 BY-NC-SA</a>版权协议，转载请附上原文出处链接和本声明。</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {%- include common/google_adsense_unit_footer.liquid -%}
        {%- include common/gitalk.liquid -%}
        {% include templates/footer.liquid %}
    </div>
</div>
